.application .theme--light.card, .theme--light .article--card{
  min-height: 200px;
  padding: 40px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 45%, 99% 50%, 100% 55%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 45%, 99% 50%, 100% 55%, 100% 100%, 0% 100%);
  @include border-radius(0px 13px 13px 0px);
  background: url('#{$path}/article-block-line.png') left top repeat-y, rgba(255, 255, 255, 1);
}

.article--card__wrapper {
  filter: drop-shadow(5px 5px 10px $color-blue-dark);
}

.articles {
  background: url('#{$path}/content-layout.png') bottom center repeat-x, rgba(255,255,255,1);
  padding-top: 20px;
}

.articles__content {
  font-size: 1.1em;
  border-bottom: 1px dashed $color-blue-light;
}

.articles__content a {
  text-decoration: none;
  font-size: 1.1em;
  color: $color-blue-dark;
}

.article--button {
  @extend .content-button;
  color: $color-blue-dark;
  border-color: $color-blue-light;
}

.article__content {
  font-size: 1.1em;
}