@charset "UTF-8";

.wrapper {
  width: 1200px;
  margin: auto;
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("/fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.eot");
  src: local("Gilroy-ExtraBold"), url("/fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.woff") format("woff"), url("/fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.ttf") format("truetype"), url("/fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url("/fonts/Gilroy-Light/Gilroy-Light.eot");
  src: local("Gilroy-Light"), url("/fonts/Gilroy-Light/Gilroy-Light.woff") format("woff"), url("/fonts/Gilroy-Light/Gilroy-Light.ttf") format("truetype"), url("/fonts/Gilroy-Light/Gilroy-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Начало Buttons */

.content-button,
.header-menu__auth-btn {
  display: inline-block;
  background: none;
  border: 1px dashed #1e88d7;
  font-size: 0.8em;
  font-weight: bold;
  color: #1e88d7;
  -mox-border-radius: 6px;
  border-radius: 6px;
  text-decoration: none;
  padding: 4px 8px;
  margin-top: 10px;
  margin-right: 20px;
  text-transform: uppercase;
}

/* Конец Buttons */

.theme--light.v-list.top-menu {
  background: none;
  color: #ffffff;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.top-menu__item {
  display: inline-block;
  background: url("/images/menu-divider.png") left center no-repeat;
}

.top-menu__item:first-child {
  background: none;
}

.top-menu__item .v-list__tile {
  height: 52px;
  text-transform: uppercase;
  font-size: 0.99em;
}

.top-menu__item .v-list__tile a {
  padding-left: 5px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Gilroy-ExtraBold", sans-serif;
}

header {
  height: 858px;
  background: url("/images/header.png") top center no-repeat;
}

.header-menu {
  height: 53px;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
}

.header-menu--center {
  background: url("/images/header-menu-line.png") top center repeat-x;
}

.header-shadow {
  background: url("/images/header-shadow.png") top center no-repeat;
  height: 285px;
}

.header-menu__auth-btn {
  text-transform: none;
  font-weight: normal;
  font-size: 0.9em;
}

.telephone {
  color: #ffffff;
}

.telephone__number {
  font-size: 2.1em;
  font-family: "Gilroy-ExtraBold", sans-serif;
}

.telephone__link {
  color: #1e88d7;
  text-transform: uppercase;
  font-size: 1.1em;
  text-decoration: none;
  border-bottom: 2px solid #ffbf00;
  font-family: "Gilroy-ExtraBold", sans-serif;
}

.telephone__img {
  display: inline-block;
  vertical-align: middle;
}

.top-20 {
  margin-top: 20px;
}

.bottom-20 {
  margin-bottom: 20px;
}

.find-input {
  width: 160px;
  height: 35px;
  color: #ffffff;
  font-size: 0.9em;
  border-radius: 0 4px 4px 0;
  -mox-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  padding: 6px 0 4px 10px;
  border: 1px solid #ffffff;
  background: url("/images/find-input-left.png") left center no-repeat, url("/images/find-icon.png") 95% center no-repeat;
}

.find-input::-webkit-input-placeholder {
  color: #ffffff;
}

.cart__info {
  color: #ffffff;
}

.cart__gold {
  color: #ffbf00;
  font-weight: bold;
}

.headsite,
.headsite_best-sale,
.about__head {
  color: #29435c;
  padding-top: 10px;
  font-size: 1em;
  background: url("/images/heading.png") top left no-repeat;
}

.headsite span,
.headsite_best-sale span,
.about__head span {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 2.2em;
  text-transform: uppercase;
}

.figure-button,
.button-ask-sale {
  display: inline-block;
  padding: 5px 20px;
  background-color: #1e88d7;
  color: #ffffff;
  font-family: "Gilroy-ExtraBold", sans-serif;
  text-decoration: none;
  height: 31px;
  text-align: center;
  vertical-align: middle;
  -webkit-clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 0%);
  clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
  text-transform: uppercase;
}

.button-ask-sale {
  background-color: #ffbf00;
}

.menu-left {
  width: 213px;
  background: url("/images/header-menu-line.png") top center repeat-x, white;
}

.menu-left__header {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #29435c;
  text-align: center;
  padding: 10px;
}

.theme--light.v-list.menu-left__list {
  background: none;
}

.menu-left__list .v-list__tile {
  font-size: 0.9em;
  color: #29435c;
  text-align: left;
  min-width: 213px;
}

.menu-left__items {
  background: url("/images/menu-left-layer-img.png") left center no-repeat;
}

.menu-left__list .v-list__tile:hover {
  background-color: #1e88d7;
  color: #ffffff;
}

.menu-left__list--text {
  background: url("/images/footer-list-mark.png") left center no-repeat;
  padding-left: 20px;
}

.menu-left__sub__list--text {
  background: url("/images/menu-left-marker.png") left center no-repeat;
  padding-left: 20px;
  max-width: 200px;
}

.menu-left__list--text:hover {
  background: url("/images/menu-left-marker.png") left center no-repeat;
}

.menu-left__sub--light .v-list__tile {
  background-color: #1e88d7;
  color: #ffffff;
}

.menu-left__sub--dark .v-list__tile {
  background-color: #626787;
  color: #ffffff;
}

.menu-left__sub .v-list__tile:hover {
  background-color: #626787;
}

.theme--light.v-list.menu-left__list.tom {
  background-color: #1e88d7;
}

.price-wrapper {
  height: 134px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  background-color: #5daae2;
  -webkit-clip-path: polygon(0% 0%, 50% 20%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 50% 20%, 100% 0%, 100% 100%, 0% 100%);
}

.price {
  height: 108px;
  background-color: #1e88d7;
  -webkit-clip-path: polygon(0% 0%, 50% 20%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 50% 20%, 100% 0%, 100% 100%, 0% 100%);
}

.container.grid-list-xs .layout .flex.price__download {
  padding-top: 37px;
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 1.1;
}

.price__download--next {
  font-size: 1.4em;
}

.container.grid-list-xs .layout .flex.price__img {
  padding-top: 20px;
}

.abs-position {
  position: absolute;
  margin-top: -780px;
}

.content {
  background-color: #f7fbfc;
}

.product-wrapper {
  -webkit-filter: drop-shadow(5px 5px 10px #29435c);
          filter: drop-shadow(5px 5px 10px #29435c);
}

.product {
  margin-left: 20px;
  top: 1px;
  left: 1px;
  position: relative;
  width: 215px;
  height: 368px;
  background-color: #ecf6fc;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
}

.product-image-wrapper {
  width: 215px;
  height: 200px;
  background-color: #dee7ef;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
  display: block;
}

.product-image {
  width: 215px;
  height: 190px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
  background: url("/images/product-corner.png") top left no-repeat;
  background-color: rgba(255, 255, 255, 0.9);
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.product-image img {
  margin: 0px auto;
}

.product__title {
  padding: 15px 40px 15px 40px;
  text-align: center;
  line-height: 1.2;
  border-bottom: 1px dashed #dee7ef;
  margin-bottom: 10px;
}

.product__title a {
  font-family: "Gilroy-ExtraBold", sans-serif;
  color: #29435c;
  text-decoration: none;
}

.product-price-wrapper {
  color: #29435c;
  font-size: 1.2em;
}

.product-old-price {
  text-decoration: line-through;
}

.product-price {
  font-size: 1.2em;
  color: #1e88d7;
  font-weight: bold;
}

.best-sale {
  background: url("/images/best-sale.png") top center repeat;
  height: 560px;
  -webkit-clip-path: polygon(0% 0%, 49% 0%, 50% 5%, 51% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 49% 0%, 50% 5%, 51% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.headsite_best-sale {
  color: #ffffff;
}

.about {
  background-color: #ffbe00;
  height: 460px;
}

.about__content {
  height: inherit;
  background: url("/images/about-layer-img-left.png") left top no-repeat, url("/images/about-layer-img-2.png") right bottom no-repeat;
  padding-top: 20px;
  padding-bottom: 20px;
}

.theme--light.v-list.about__list {
  background: none;
}

.about__list .v-list__tile {
  font-size: 0.9em;
  text-align: left;
  background: url("/images/footer-list-mark.png") left center no-repeat;
  color: black;
}

.about__telephone {
  color: #ffffff;
  font-size: 1.5em;
  font-family: "Gilroy-ExtraBold", sans-serif;
}

.about__brands {
  color: black;
  padding-top: 10px;
  font-size: 1em;
  background: url("/images/heading.png") top center no-repeat;
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 1.6em;
  text-transform: uppercase;
}

.about__head {
  color: black;
}

.about__social {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  color: black;
}

.news {
  height: 360px;
}

.news__content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.news__number {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 3em;
  color: #ffbf00;
}

.news__date {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 0.5em;
  color: #29435c;
}

.news__link {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 1.1em;
  color: #29435c;
}

.news__big-image {
  position: relative;
}

.news__big-image img {
  position: absolute;
  margin-top: -80px;
  margin-left: -300px;
}

.detail__image--wrapper {
  -webkit-filter: drop-shadow(5px 5px 10px #29435c);
          filter: drop-shadow(5px 5px 10px #29435c);
  display: block;
}

.detail__image {
  width: 313px;
  height: 400px;
  top: 1px;
  left: 1px;
  position: relative;
  background: url("/images/product-corner.png") top left no-repeat;
  background-color: #ffffff;
  display: table-cell;
  vertical-align: middle;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
}

.detail__image img {
  margin: 0 auto;
}

.detail__image-label {
  position: absolute;
  width: 134px;
  height: 46px;
  background-color: #1e88d7;
  -webkit-clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 5% 100%, 0% 50%);
  clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 5% 100%, 0% 50%);
  margin-left: 210px;
  margin-top: -52px;
  z-index: 1000;
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 2em;
  color: #ffffff;
  text-transform: uppercase;
}

.detail h1 {
  color: #29435c;
  font-family: "Gilroy-ExtraBold", sans-serif;
  text-transform: uppercase;
  line-height: 1.1;
}

.detail__info {
  color: #29435c;
}

.detail__old-price {
  text-decoration: line-through;
  font-weight: bold;
}

.detail__price--current {
  font-size: 2.5em;
  color: #1e88d7;
  font-family: "Gilroy-ExtraBold", sans-serif;
}

.detail__advanced-info {
  margin-top: 30px;
}

.detail__advanced-info {
  color: #29435c;
}

.detail__advanced-info h2 {
  font-family: "Gilroy-ExtraBold", sans-serif;
  text-transform: uppercase;
}

.detail__characteristics .v-tabs__container {
  background-color: #29435c;
  color: #ffffff;
  font-family: "Gilroy-ExtraBold", sans-serif;
}

.detail__characteristics .v-tabs__item {
  color: #ffffff;
}

.detail__characteristics .v-tabs__item--active {
  background-color: #ffbf00;
}

.detail__padding,
.detail__characteristics-description,
.detail__characteristics-characteristics {
  padding-top: 20px;
  padding-bottom: 20px;
}

.detail__characteristics-description {
  text-align: left;
  min-height: 200px;
}

.detail__characteristics-characteristics {
  text-align: left;
}

@supports (display: grid) {
  /* если браузер поддерживает Гриды */

@media (min-width: 14em) {
    /* если окно браузера больше 14em */

    .detail__characteristics-characteristics dl {
      display: grid;
      grid-template-columns: auto 1fr;
      /* auto определяет ширину первой колонки, которая равна самому широкому элементу <dt> (auto можно заменить на fit-content(10em), если необходимо её ограничить) */
    }

    .detail__characteristics-characteristics dt {
      min-width: 0;
      /* более привычное поведение при переполнении */
    }

    .detail__characteristics-characteristics dd {
      margin: 0 0 0 1em;
      font-weight: bold;
    }
}
}

footer {
  background: url("/images/footer-bottom-menu.png") center bottom repeat-x, url("/images/footer-layout-img.png") right top repeat, url("/images/footer-layout-left-main-img.png") left top repeat;
}

.footer {
  height: 358px;
  background: url("/images/footer-bottom-menu.png") center bottom repeat-x, url("/images/footer-blure-image.png") right top repeat-y, url("/images/footer.png") top left no-repeat;
  padding-top: 50px;
  color: #ffffff;
}

.footer__list.theme--light.v-list {
  background: none;
  color: #ffffff;
}

.footer__list .v-list__tile {
  font-size: 0.9em;
  text-align: left;
  background: url("/images/footer-list-mark.png") left center no-repeat;
}

.footer__main-site {
  font-size: 0.7em;
  font-family: "Gilroy-ExtraBold", sans-serif;
}

.footer__main-site span {
  text-transform: uppercase;
  font-size: 2em;
}

.footer__copyright {
  font-size: 0.8em;
  margin-top: 15px;
}

