.about {
  background-color: #ffbe00;
  height: 460px;
}

.about__content {
  height: inherit;
  background: url('#{$path}/about-layer-img-left.png') left top no-repeat, url('#{$path}/about-layer-img-2.png') right bottom no-repeat;
  padding-top: 20px;
  padding-bottom: 20px;
}

.application .theme--light.list, .theme--light .list.about__list  {
  background: none;
}

.about__list .list__tile {
  font-size: 0.9em;
  text-align: left;
  background: url('#{$path}/footer-list-mark.png') left center no-repeat;
  color: black;
}

.about__telephone {
  color: $color-white;
  font-size: 1.5em;
  font-family: $font-gilroy-extrabold;
}

.about__brands {
  color: black;
  padding-top: 10px;
  font-size: 1em;
  background: url('#{$path}/heading.png') top center no-repeat;
  font-family: $font-gilroy-extrabold;
  font-size: 1.6em;
  text-transform: uppercase;
}

.about__head {
  @extend .headsite;
  color: black;
}

.about__social {
  font-family: $font-gilroy-extrabold;
  font-size: 1.5em;
  text-transform: uppercase;
  color: black;
}