.article--title a {
  color: $color-blue-dark;
  font-family: $font-gilroy-extrabold;
  font-size: 2.4em;
  text-decoration: none;
}

/*

.article--content {
  font-size: 1.3em;
}

.article--desc {
  color: white;
}

.application .theme--light.card, .theme--light .article--card{
  min-height: 200px;
  padding: 40px;
  //background: url('#{$path}/light-tree.png') center center repeat;
}*/