.best-sale {
  background: url('#{$path}/best-sale.png') top center repeat;
  height: 560px;
  clip-path: polygon(0% 0%, 49% 0%, 50% 5%, 51% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.headsite_best-sale {
  @extend  .headsite;
  color: $color-white;
}