footer {
  background: url('#{$path}/footer-layout-img.png') right top repeat,  url('#{$path}/footer-layout-left-main-img.png') left top repeat;
}
.footers {
  height: 358px;
  background:   url('#{$path}/footer-blure-image.png') right top repeat-y, url('#{$path}/footer.png') top left no-repeat;
  padding-top: 50px;
  color: $color-white;
}

.application .theme--light.list, .theme--light .list.footer__list {
  background: none;
  color: $color-white;
}

.footer__list .list__tile {
  font-size: 0.9em;
  text-align: left;
  background: url('#{$path}/footer-list-mark.png') left center no-repeat;
}

.footer__main-site {
  font-size: 0.7em;
  font-family: $font-gilroy-extrabold;
}

.footer__main-site span {
  text-transform: uppercase;
  font-size: 2em;
}

.footer__copyright {
  font-size: 0.8em;
  margin-top: 15px;
}