.menu-left {
  width: 213px;
  background: url('#{$path}/header-menu-line.png') top center repeat-x, rgba(255,255,255,1) ;
}

.menu-left__header {
  font-family: $font-gilroy-extrabold;
  font-size: 1.2em;
  text-transform: uppercase;
  color: $color-blue-dark;
  text-align: center;
  padding: 10px;
}

.application .theme--light.list, .theme--light .list.menu-left__list {
  background: none;
}

.menu-left__list .list__tile {
  font-size: 0.9em;
  color: $color-blue-dark;
  text-align: left;
  min-width: 213px;
}

.menu-left__items {
  background: url('#{$path}/menu-left-layer-img.png') left center no-repeat;
}

.menu-left__list .list__tile:hover {
  background-color: $color-blue;
  color: $color-white;
}

.menu-left__list--text {
  background: url('#{$path}/footer-list-mark.png') left center no-repeat;
  padding-left: 20px;
}

.menu-left__sub__list--text {
  background: url('#{$path}/menu-left-marker.png') left center no-repeat;
  padding-left: 20px;
  max-width: 200px;
}

.menu-left__list--text:hover {
  background: url('#{$path}/menu-left-marker.png') left center no-repeat;
}

.menu-left__sub--light .list__tile {
  background-color: $color-blue;
  color: $color-white;
}

.menu-left__sub--dark .list__tile {
  background-color: $color-blue-light-dark;
  color: $color-white;
}

.menu-left__sub .list__tile:hover {
  background-color: $color-blue-light-dark;
}

.application .theme--light.list, .theme--light .list.menu-left__list.tom {
  background-color: $color-blue;
}

.price-wrapper {
  height: 134px;
  display: flex;
  flex-direction: column-reverse;
  background-color: $color-blue-light;
  -webkit-clip-path: polygon(0% 0%, 50% 20%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 50% 20%, 100% 0%, 100% 100%, 0% 100%);
}

.price {
  height: 108px;
  background-color: $color-blue;
  -webkit-clip-path: polygon(0% 0%, 50% 20%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 50% 20%, 100% 0%, 100% 100%, 0% 100%);
}

.container.grid-list-xs .layout .flex.price__download {
  padding-top: 37px;
  font-family: $font-gilroy-extrabold;
  font-size: 1.5em;
  text-transform: uppercase;
  color: $color-white;
  line-height: 1.1;
}

.price__download--next {
  font-size: 1.4em;
}

.container.grid-list-xs .layout .flex.price__img{
  padding-top: 20px;
}

.abs-position {
  position: absolute;
  margin-top: -780px;
}