.product-wrapper {
  filter: drop-shadow(5px 5px 10px $color-blue-dark);
}

.product {
  margin-left: 20px;
  top: 1px;
  left: 1px;
  position: relative;
  width: 215px;
  height: 368px;
  background-color: $color-light-blue;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
}

.product-image-wrapper {
  width: 215px;
  height: 200px;
  background-color: $color-light-green;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
  display: block;
}

.product-image {
  width: 215px;
  height: 190px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
  background: url('#{$path}/product-corner.png') top left no-repeat;
  background-color: rgba(255, 255, 255, 0.9);
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.product-image img {
  margin: 0px auto;
}

.product__title {
  padding: 15px 40px 15px 40px;
  text-align: center;
  line-height: 1.2;
  border-bottom: 1px dashed $color-light-green;
  margin-bottom: 10px;
}

.product__title a {
  font-family: $font-gilroy-extrabold;
  color: $color-blue-dark;
  text-decoration: none;
}


.product-price-wrapper {
  color: $color-blue-dark;
  font-size: 1.2em;
}

.product-old-price {
  text-decoration: line-through;
}

.product-price {
  font-size: 1.2em;
  color: $color-blue;
  font-weight: bold;
}