$path: '/images';
$color-white: #ffffff;
$color-blue: #1e88d7;
$color-blue-light: #5daae2;
$color-purpl: #1e3c5d;
$color-blue-dark: #29435c;
$color-blue-light-dark: #626787;
$color-yellow: #ffbf00;
$color-light-blue: #ecf6fc;
$color-light-green: #dee7ef;
$font-gilroy-extrabold: 'Gilroy-ExtraBold', sans-serif;
$font-gilroy-light: 'Gilroy-Light', sans-serif;